{% extends 'blog/base.html'%}
{%block title%} post delete{%endblock%}
{%block body%}
   
    <form  method='POST'>
        {% csrf_token%}
        <div class="container-sm col-md-6 mt-4 bg-dark text-white ">
          <div class="row">
                    <div class="col-md-9  p-5">
                      <h1>Delete Post</h1>
                    <p>Are you sure you want to Delete this post</p>
                    <hr>
             
              <button type="submit" class="btn btn-outline-danger">Yes Delete</button>
              <a  class="btn btn-outline-secondary" href="{% url 'post-detail' object.id object.slug%}">cancel</a>
            </div>
        </div>
        </div>
      </form>
      
{%endblock%}