  
{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block body %}
    <div class="content-section col-md-4 align-item-center ml-5">
      <div class="media ml-5 p-4">
        {% if user.profile.images %}
        <img class="rounded-circle account-img mr-3 my-1" src="{{ user.profile.images.url }}" width="120" height='120'>
        {% endif %}
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <!-- FORM HERE -->
      <form action="" method='POST' enctype="multipart/form-data">
      
           {% csrf_token%}
           <!-- <fieldset class='form-group'> -->
             <legend class='border-bottom mb-4'>Profile Information</legend>
             {{u_form|crispy}}
           <!-- </fieldset> -->
           {{p_form|crispy}}
           <div class="from-group">
             <button class='btn btn-outline-info'>Update</button>
           </div>
                
        </form>
        
    </div>
{% endblock  %}